@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer components {
  .tag {
    @apply px-3 pt-2 pb-1 rounded-[20px] border-2 uppercase font-mono inline-block text-tag text-brand border-brand bg-default bg-opacity-5 hover:bg-brand hover:bg-opacity-5;
  }

  .tag.active {
    @apply text-white border-brand bg-brand;
  }

  .tag.primary {
    @apply text-primary border-primary bg-bg bg-opacity-5 hover:bg-brand hover:bg-opacity-5;
  }

  .tag.primary.active {
    @apply text-white border-primary bg-primary;
  }

  .tag.secondary {
    @apply text-secondary border-secondary bg-secondary bg-opacity-5 hover:bg-[#008060] hover:bg-opacity-[15%];
  }

  .tag.secondary.active {
    @apply text-white border-secondary bg-secondary;
  }

  .tag.grayscale {
    @apply text-default border-default bg-default bg-opacity-5 hover:bg-opacity-[15%];
  }

  .tag.grayscale.active {
    @apply text-white border-default bg-default;
  }

  .prose h3 {
    @apply font-sans text-small;
  }

  .prose p {
    @apply font-serif text-medium mb-8;
  }

  table th {
    @apply p-2 border-b border-secondary text-left;
  }

  table td {
    @apply p-2 border-b border-secondary/20;
  }

  .button {
    @apply hover:bg-brand/10 p-2;
  }

  .active-page {
    @apply bg-brand/[0.15];
  }

  /* filter checkbox */

  .filter-checkbox {
    /* create a postioning context for the checkbox within the label */
    position: relative;

    /* other label styles here */
  }

  .filter-checkbox input[type="checkbox"] {
    /* remove the checkbox from flow */
    position: absolute;

    /* hide it visually */
    opacity: 0;

    /* tweak size and position if needed */
    width: 1em;
    height: 1em;
    right: 26px;
  }

  /* visually show focus outline when the SVG receives focus */
  .filter-checkbox input[type="checkbox"]:focus + svg {
    outline: 3px solid #e55360;
    outline-offset: 2px;
  }

  /* hide the focus styles for mouse users */
  .filter-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
    outline: none;
  }

  /* basic styles for the svg */
  .filter-checkbox svg {
    /* set SVG dimensions in ems; i.e. relative to the font size so that it scales with the size of the text in the label */
    width: 1em;
    height: 1em;

    /* apply a transition to the elements inside the svg */
    * {
      transition: all 0.1s linear;
    }
  }

  /* style changes inside the svg when the checkbox is checked */
  .filter-checkbox input[type="checkbox"]:checked + svg {
    .checkmark {
      @apply fill-brand;
    }
  }
}

/* scrollbar */

.window-scrollbar *::-webkit-scrollbar {
  width: 1em;
}

.window-scrollbar *::-webkit-scrollbar-track {
  @apply bg-bg dark:bg-default border-secondary dark:border-secondary-dark;
  border-left-width: 1px;
  border-left-style: solid;
}

.window-scrollbar *::-webkit-scrollbar-thumb {
  @apply bg-secondary dark:bg-secondary-dark;
}

.window-scrollbar *::-webkit-scrollbar-thumb:hover {
  @apply bg-brand;
}

hr {
  @apply my-6;
}
