@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer components {
  .tag {
    @apply px-3 pt-2 pb-1 rounded-[20px] border-2 uppercase font-mono inline-block text-tag text-brand border-brand bg-default bg-opacity-5 hover:bg-brand hover:bg-opacity-5;
  }

  .tag.active {
    @apply text-white dark:text-default border-brand bg-brand;
  }

  .tag.primary {
    @apply text-primary border-primary bg-bg bg-opacity-5 hover:bg-brand hover:bg-opacity-5;
  }

  .tag.primary.active {
    @apply text-white border-primary bg-primary;
  }

  .tag.secondary {
    @apply text-default border-secondary bg-secondary bg-opacity-5 hover:bg-[#008060] hover:bg-opacity-[15%];
  }

  .tag.secondary.active {
    @apply text-white dark:text-default border-secondary bg-secondary dark:border-white dark:bg-white;
  }

  .tag.grayscale {
    @apply text-default border-default bg-default bg-opacity-5 hover:bg-opacity-[15%];
  }

  .tag.grayscale.active {
    @apply text-white border-default bg-default;
  }

  .prose h3 {
    @apply font-sans text-small;
  }

  .prose p {
    @apply font-serif text-medium mb-8;
  }

  .prose a {
    @apply underline text-white;
  }

  table th {
    @apply p-2 border-b border-secondary text-left;
  }

  table td {
    @apply p-2 border-b border-secondary/20;
  }

  .button {
    @apply hover:bg-brand/15 px-2 py-1 text-brand font-sans text-small border-brand border rounded-sm;
  }

  .active-page {
    @apply bg-brand/[0.15];
  }

  /* filter checkbox */

  .filter-checkbox {
    @apply relative;
  }

  .filter-checkbox input[type="checkbox"] {
    @apply absolute opacity-0 w-4 h-4;
    right: 26px;
  }

  /* visually show focus outline when the SVG receives focus */
  .filter-checkbox input[type="checkbox"]:focus + svg {
    @apply outline outline-brand outline-1 outline-offset-2;
  }

  /* hide the focus styles for mouse users */
  .filter-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
    @apply outline-none;
  }

  /* basic styles for the svg */
  .filter-checkbox svg {
    @apply w-4 h-4;
    * {
      transition: all 0.1s linear;
    }
  }

  /* style changes inside the svg when the checkbox is checked */
  .filter-checkbox input[type="checkbox"]:checked + svg {
    .checkmark {
      @apply fill-brand;
    }
  }

  .prose h1 {
    @apply font-sans text-xxl;
    font-weight: 600;
    margin: 1rem 0 2rem;
  }

  .prose h2 {
    @apply font-sans text-xl;
    font-weight: 600;
    margin: 1rem 0;
  }

  .prose h3 {
    @apply font-sans text-large;
    font-weight: 600;
    margin: 1rem 0;
  }

  .prose h4 {
    @apply font-sans text-medium;
    font-weight: 600;
    margin: 1rem 0;
  }

  .prose h5 {
    @apply font-sans text-small;
    font-weight: 600;
    margin: 1rem 0;
  }

  .prose h6,
  .h6 {
    @apply font-mono text-xs;
    font-weight: 500;
    margin: 1rem 0;
  }

  .search {
    @apply hover:bg-brand/15 bg-white dark:bg-default p-2 text-brand placeholder-brand/75 font-sans text-small border-brand border rounded-sm;
  }
}

/* scrollbar */

.window-scrollbar *::-webkit-scrollbar {
  width: 1em;
}

.window-scrollbar *::-webkit-scrollbar-track {
  @apply bg-bg dark:bg-default border-secondary dark:border-secondary-dark;
  border-left-width: 1px;
  border-left-style: solid;
}

.window-scrollbar *::-webkit-scrollbar-thumb {
  @apply bg-secondary dark:bg-secondary-dark;
}

.window-scrollbar *::-webkit-scrollbar-thumb:hover {
  @apply bg-brand;
}

p {
  margin: 0 0 1rem 0;
}

hr {
  @apply my-6;
}

.pagination {
  @apply flex gap-1 my-4;
}

.page {
  @apply hover:bg-brand/15 px-2 py-1 text-brand font-sans text-small border-brand border rounded-sm;
}

.active .page {
  @apply text-white dark:text-default bg-brand;
}
